/* 重置默认样式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 设置全局字体 */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* 头部样式 */
header {
    background: #a1ec30b9;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* 关于我部分样式 */
.about {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 项目部分样式 */
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.project {
    flex: 1 1 calc(30% - 20px);
    margin: 10px;
    padding: 15px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* 新闻报道部分样式 */
.news {
    padding: 20px;
    background: #fff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.news article {
    margin-bottom: 15px;
    padding: 10px;
    border-bottom: 1px solid #eaeaea;
}

/* 底部样式 */
footer {
    text-align: center;
    padding: 10px 0;
    background: #a1ec30b9;
    color: #fff;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* 链接样式 */
a {
    color: #1f51e7b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* 媒体查询 */
@media (max-width: 768px) {
    .projects {
        flex-direction: column;
    }

    .project {
        flex: 1 1 100%;
    }
} 

/* 隐藏图片 */
.hover-image {
    display: